<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Seach by E-Mail | home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  <!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <!-- <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
</head>
<body bgcolor="">
<div class="navbar-fixed">
 <nav class="light-blue darken-3">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">Email-e-Fy</a>
      <form action="/" method="post">
        {% csrf_token %}
        <div class="input-field">
          <input id="email" type="email" name="email" placeholder="Search any Email" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <!-- <i class="material-icons">close</i> -->
        </div>
      </form>
    </div>
  </nav>
  </div>
<div class="section no-pad-bot" id="index-banner" style="width: 100 vh; height: 100 vh;">
<div class="container">
  <br><br>

{% if text %}
    <div class="section">
      <!--   Icon Section   -->
<div class="col l12 ">
<div class="card horizontal">
<div class="card-image">
{% if photos_first %}
<img src={{photos_first.url}} height="350px">
{% endif %}
</div>
<div class="card-stacked">
<div class="card-content">
  <h3>{{contactInfo.fullName}}</h3>
  {% if organizations %}
    <ul>
        <div class="chip">
        Present Organization
        </div>
        {% for i in organizations %}
          {% if i.current %}
            <li>{{i.name}}<br>{{i.startDate}} | {{i.title}}</li>
          {% endif %}
        {% endfor %}
        <br><br>
        <div class="chip">
        Past Organization
        </div>
        {% for i in organizations %}
          {% if i.current %}
            &nbsp;
          {% else %}
            <li>{{i.name}}<br>{{i.startDate}} | {{i.title}}</li>
          {% endif %}
        {% endfor %}
    </ul>
  {% else %}
    <div class="chip">
    No Organization
    </div>
  {% endif %}
</div>
<div class="card-action">
  {% for i in socialProfiles %}
    {% ifequal i.typeName "LinkedIn" %}
    <a href={{i.url}}>{{i.url}}</a>
    {% endifequal %}
  {% endfor %}
</div>
</div>
</div>
</div>

<div class="col s12 m7">
<div class="card horizontal">
  <div class="card-stacked">
    <div class="card-content">
    <h3>Biography</h3>
      {% for i in socialProfiles %}
      {% ifequal i.typeName "LinkedIn" %}
        {% if i.bio %}
          <p>&#9900; {{i.bio}} </p>
        {% endif %}
        {% endifequal %}
      {% endfor %}
      {% for i in socialProfiles %}
      {% ifnotequal i.typeName "LinkedIn" %}
        {% if i.bio %}
          <p>&#9900; {{i.bio}} </p>
        {% endif %}
      {% endifnotequal %}
      {% endfor %}
    </div>
  </div>
</div>
</div>

{% if website_first %}
<div class="col s12 m7 light-blue darken-3 white-text">
<div class="card horizontal light-blue darken-3">
<div class="card-stacked">
  <div class="card-content ">
  <h3>Website</h3>
  <p><h5><a href={{website_first.url}} style="color: white;text-decoration: underline;">{{website_first.url}}</a></h5></p>
  </div>
</div>
</div>
</div>
{% endif %}
    </div>
{% if socialProfiles %}
<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
      <h3>Other Social Links:</h3>
        <ul class="collection">
        {% for i in socialProfiles %}
            <li class="collection-item avatar">
              <span class="title"><h5> &#9899; {{i.typeName}}</h5></span>
              <p> username: {{i.username}}</p>
              <p> url: <a href={{i.url}}>{{i.url}}</a></p>
            </li>
         {% endfor %}   
          </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!--     <div class="section">
{{text}}
    </div> -->
 {% else %}   
  <h1 class="header center orange-text jumbotron" style="font-size: 7em;">Search any Email</h1>
  <div class="row center" style="font-size: 5em;">
    <h5 class="header col s12 light">A fast web-app to locate all the social-links by only one Email</h5>
  </div>
  <div class="center" >
      <div class="row">
        <div class="col s12">
          
          <form action="/" method="post" class="inline">
          {% csrf_token %}
          <div class="input-field col s12">
            <input id="email" type="email" name="email" class="validate" placeholder="Enter an Email to get started">
            <label for="search" data-error="wrong" data-success="right" ></label>
          </div>
        </form>  
        </div>
  </div>
  <br><br>
</div>
</div>
</div>
{% endif %}
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- <script src="js/materialize.js"></script> -->
  <!-- <script src="js/init.js"></script> -->

  </body>
</html>
