<!DOCTYPE html>
<html>
<head>
    <title>GET FULL CONTACT DETAIL</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">

        <div class="row">
            <div class="col-sm-8">

                <h4 class="page-header">OOOPS!! something went wrong :( . We recieved following response from the server:</h4>
                {{msg}}
                <div style="float: right;">
                <a href="/"><button class="btn btn-primary"><-Back</button></a> 
                </div>                   


</body>
</html>
